header{
  background-color:	#D65DB1;
  
}
.header-nav a{
text-decoration: none;
color: 	#FFC75F;
}
.container{
  max-width: 1300px;
  margin: 0 auto;
}
.header-inner{
  display: flex;
  justify-content: space-between;
}
.header-nav{
  display: flex;
  align-items: center;
}
.header-nav a {
  margin-right: 15px;
}
.my-img{
  width: 30%;
 
}
.block1{
display: flex;
justify-content: space-between;
align-items: center;
gap: 100px;
margin-top: 80px;

}
.block{
  text-align:center ;
  display: flex;
  justify-content: space-between;


}
.text1{
  text-align: center;
  display: block;
}
.container1{
  padding-left: 500px;
  padding-right: 500px;
}
.p1{
  text-align: center;
  font-size: 20px;
}

.block3{
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.p4{
  text-align: center;
  font-size: 20px;

}
.img1{
  width: 50%;
}
.img{
 width: 50%;
}

.block4{
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}
.div1{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  align-items: center;
}
.div2 {
  display: flex;
 align-items: center;
 text-align: center;
 gap: 15px;
}
.div2 img{
  width: 50px;
  
}
.posts{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
padding-bottom: 25px;
gap:30px;

}
.post{
  width: 30%;
}
.posts-title{
  padding-top: 20px;
}
.new-post-add{
  padding-top: 25px;
}
.form-input{
  padding-bottom: 15px;
}
.button-img{
  border: none ;
  background: none ;
  padding: 0;
}
.container2{
  padding-left: 400px;
  padding-right: 400px;
}
.cl-3{
  text-align: center;
}
.cl-2{
  padding-top: 25px;
}

.cl-5{
display: flex;
justify-content: center;
gap: 15px;
}
.cl-6{
  width: 40%;
}








